@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: block;
}

header {
  background-color: #18294f;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

header h1 {
  padding: .3em 0 .5em;
  margin: 0;
  display: block;
  font-size: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  align-items: center;
  list-style-type: none;
}

li {
  background-color: #18294f;
  color: #6c8fe0;
  text-decoration: none;
  text-align: left;
}

nav a {
  padding: .5em .75em;
  text-decoration: none;
  color: #6c8fe0;
  white-space: normal;
  justify-content: space-between;
  display: block;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
  border-color: #6c8fe0;
}

@media only screen and (min-width: 25em) {

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    text-align: center;
  }

}
